.about-us-outer-container {
    // margin-top: 3%;
    background-color: #e9e9e9;
    display: grid;
    padding-bottom: 3%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.bold {
    font-weight: bolder;
}

.about-us-inner-container {
    max-width: 60em;
}

