.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
      }

    .links {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; 
      margin-right: 2%;
    }

    .option {
        padding: 10px 15px
    }
}

@media screen and (max-width: 480px){
  a.option {
     display: none;
  }
 
  .header-1 {
      font-size: 11vw;
  }
     
 }